# Exploratory Data Analysis

## Pick a dataset
Starting off exploring two datasets to figure out which will be best to use. 

The 'rio' dataset is large and ideal in size, however, it was created by scraping craigsllist website monthly for two years, therefore it has many duplicate values. After considering how large the dataset is after dropping those duplicates, we'll reconsider which to model off of.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
argentina = pd.read_csv('data/argentina.csv')

In [4]:
rio = pd.read_csv('data/rio_de_janeiro.csv')

/Users/cathleenpena1/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (1,17,19,20,28,33,34,54,62,63,66,68,69,88) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [5]:
display(argentina.head(3))
display(rio.head(3))

,id,ad_type,start_date,end_date,created_on,lat,lon,l1,l2,l3,...,bathrooms,surface_total,surface_covered,price,currency,price_period,title,description,property_type,operation_type
0,wdQ5hWhv8P14T7Sh9g4QCg==,Propiedad,2020-12-25,9999-12-31,2020-12-25,-32.716652,-68.642692,Argentina,Mendoza,NaN,...,NaN,350.0,350.0,NaN,NaN,NaN,Excelentes Lotes Sobre Ruta 34,Corredor Responsable: VICTOR E. MONTIVERO - C....,Lote,Venta
1,nnMBYZ4RMRY+vm753EtA+g==,Propiedad,2020-12-25,9999-12-31,2020-12-25,-24.797723,-65.467514,Argentina,Salta,NaN,...,NaN,1541.0,1541.0,NaN,NaN,Mensual,TERRENO + VENTA + JARDINES DE SAN LORENZO +150...,Corredor Responsable: Pablo Castañeda - C.U.C....,Lote,Venta
2,+dnVA1K6JxzL1zAjOEQ1pA==,Propiedad,2020-12-25,2020-12-29,2020-12-25,-34.919373,-58.020591,Argentina,Bs.As. G.B.A. Zona Sur,La Plata,...,NaN,1000.0,1000.0,NaN,NaN,Mensual,Lote en Venta de 1000 m2 en La Plata,Corredor Responsable: Rico Sebastián - Martill...,Lote,Venta

,Unnamed: 0,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,...,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,number_of_reviews_ltm,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms
0,0.0,17878,https://www.airbnb.com/rooms/17878,2.018082e+13,2018-08-16,Very Nice 2Br - Copacabana - WiFi,Please note that special rates apply for New Y...,- large balcony which looks out on pedestrian ...,Please note that special rates apply for New Y...,none,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,24480,https://www.airbnb.com/rooms/24480,2.018082e+13,2018-08-16,Nice and cozy near Ipanema Beach,My studio is located in the best of Ipanema. ...,The studio is located at Vinicius de Moraes St...,My studio is located in the best of Ipanema. ...,none,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,25026,https://www.airbnb.com/rooms/25026,2.018082e+13,2018-08-16,Beautiful Modern Decorated Studio in Copa,"Our apartment is a little gem, everyone loves ...",This newly renovated studio (last renovations ...,"Our apartment is a little gem, everyone loves ...",none,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
print('Number of unique listings: \t', rio.id.nunique())
print('Number of observations: \t', len(rio))

Number of unique listings: 	 73903
Number of observations: 	 784122

In [12]:
rio.drop('Unnamed: 0', axis=1, inplace=True)

In [14]:
rio = rio.drop_duplicates(subset='id')
len(rio)

73903

In [15]:
rio.to_csv('data/rio.csv')

After downsizing the rio dataset, we went from 2.54 GB to 203 MB therefore, I've decided to go with the 'argentina' dataset.

## Argentina EDA

### Check for duplicates, null values,  and type conversion

In [19]:
argentina.id.nunique(), len(argentina)

(1000000, 1000000)

In [27]:
argentina.dtypes, len(argentina.columns)

(id                  object
 ad_type             object
 start_date          object
 end_date            object
 created_on          object
 lat                float64
 lon                float64
 l1                  object
 l2                  object
 l3                  object
 l4                  object
 l5                  object
 l6                 float64
 rooms              float64
 bedrooms           float64
 bathrooms          float64
 surface_total      float64
 surface_covered    float64
 price              float64
 currency            object
 price_period        object
 title               object
 description         object
 property_type       object
 operation_type      object
 dtype: object,
 25)

In [29]:
display(argentina.iloc[:,:12].head(3))
display(argentina.iloc[:,12:].head(3))

,id,ad_type,start_date,end_date,created_on,lat,lon,l1,l2,l3,l4,l5
0,wdQ5hWhv8P14T7Sh9g4QCg==,Propiedad,2020-12-25,9999-12-31,2020-12-25,-32.716652,-68.642692,Argentina,Mendoza,NaN,NaN,NaN
1,nnMBYZ4RMRY+vm753EtA+g==,Propiedad,2020-12-25,9999-12-31,2020-12-25,-24.797723,-65.467514,Argentina,Salta,NaN,NaN,NaN
2,+dnVA1K6JxzL1zAjOEQ1pA==,Propiedad,2020-12-25,2020-12-29,2020-12-25,-34.919373,-58.020591,Argentina,Bs.As. G.B.A. Zona Sur,La Plata,La Plata,NaN

,l6,rooms,bedrooms,bathrooms,surface_total,surface_covered,price,currency,price_period,title,description,property_type,operation_type
0,NaN,NaN,NaN,NaN,350.0,350.0,NaN,NaN,NaN,Excelentes Lotes Sobre Ruta 34,Corredor Responsable: VICTOR E. MONTIVERO - C....,Lote,Venta
1,NaN,NaN,NaN,NaN,1541.0,1541.0,NaN,NaN,Mensual,TERRENO + VENTA + JARDINES DE SAN LORENZO +150...,Corredor Responsable: Pablo Castañeda - C.U.C....,Lote,Venta
2,NaN,NaN,NaN,NaN,1000.0,1000.0,NaN,NaN,Mensual,Lote en Venta de 1000 m2 en La Plata,Corredor Responsable: Rico Sebastián - Martill...,Lote,Venta

In [33]:
perc_null = argentina.isnull().sum() / len(argentina) * 100
perc_null = perc_null.to_frame()
perc_null.columns = ['Percent Null']
perc_null

                 Percent Null
id                     0.0000
ad_type                0.0000
start_date             0.0000
end_date               0.0000
created_on             0.0000
lat                   15.0811
lon                   15.1745
l1                     0.0000
l2                     0.0000
l3                     5.3327
l4                    76.0504
l5                    99.4999
l6                   100.0000
rooms                 47.3577
bedrooms              53.3787
bathrooms             22.3267
surface_total         62.0499
surface_covered       61.8549
price                  3.6902
currency               3.8281
price_period          63.6985
title                  0.0000
description            0.0018
property_type          0.0000
operation_type         0.0000

Drop Columns with 60% ? or more data missing
At what threshold should I drop?
How to deal with columns such as 'title' and 'description'

In [35]:
argentina.drop(['l4', 'l5', 'l6'], axis=1, inplace=True)
print('Number of columns: \t', len(argentina.columns))

Number of columns: 	 22

In [37]:
argentina.ad_type.value_counts()

Propiedad    1000000
Name: ad_type, dtype: int64

In [39]:
argentina.l1.value_counts()

Argentina         985725
Uruguay            13471
Estados Unidos       705
Brasil                99
Name: l1, dtype: int64

In [40]:
argentina.l2.value_counts()

Capital Federal                 242291
Buenos Aires Costa Atlántica    176721
Bs.As. G.B.A. Zona Norte        137586
Bs.As. G.B.A. Zona Sur          124074
Santa Fe                         86710
Bs.As. G.B.A. Zona Oeste         75683
Córdoba                          67771
Buenos Aires Interior            22634
Neuquén                          10528
Mendoza                           8501
Maldonado                         7280
Entre Ríos                        5497
Misiones                          5137
Río Negro                         4993
Tucumán                           4959
Montevideo                        4345
Salta                             3276
San Luis                          1969
La Pampa                          1269
Colonia                           1180
San Juan                          1064
Chaco                             1040
Corrientes                        1001
Chubut                             920
Jujuy                              555
Canelones                          519
Florida                            386
Catamarca                          338
Tierra Del Fuego                   334
Santa Cruz                         319
La Rioja                           280
Santiago Del Estero                204
Michigan                           173
Rocha                              147
Miami                              103
Formosa                             71
Santa Catarina                      55
Maryland                            30
Rio Grande do Norte                 19
São Paulo                           15
Pennsylvania                        12
Rio de Janeiro                      10
New York                             1
Name: l2, dtype: int64

In [41]:
argentina.l3.value_counts()

Mar del Plata       153515
Rosario              63632
Tigre                42507
La Plata             38073
Palermo              35385
                     ...
Colonia San José         1
La Consulta              1
Alto Río Senguer         1
Trapiche                 1
Aguará Grande            1
Name: l3, Length: 1301, dtype: int64

In [42]:
argentina.currency.value_counts()

USD    757617
ARS    202179
UYU      1692
PEN       231
Name: currency, dtype: int64

In [43]:
argentina.price_period.value_counts()

Mensual    362978
Semanal        29
Diario          8
Name: price_period, dtype: int64

In [44]:
argentina.property_type.value_counts()

Departamento       373376
Otro               239720
Casa               190023
Lote                83792
PH                  35217
Local comercial     34493
Oficina             26365
Cochera              8908
Depósito             6502
Casa de campo        1604
Name: property_type, dtype: int64

In [45]:
argentina.operation_type.value_counts()

Venta                782122
Alquiler             183927
Alquiler temporal     33951
Name: operation_type, dtype: int64

In [46]:
argentina.describe()

,lat,lon,rooms,bedrooms,bathrooms,surface_total,surface_covered,price
count,849189.000000,848255.000000,526423.000000,466213.000000,776733.000000,379501.000000,3.814510e+05,9.630980e+05
mean,-34.790048,-59.256701,2.861982,2.104534,1.707951,514.889481,6.123054e+03,3.285948e+05
std,2.957449,2.638051,1.689448,2.399252,1.080390,4372.302647,3.477565e+06,1.192329e+07
min,-54.841484,-119.699390,1.000000,-16.000000,1.000000,-136.000000,-1.300000e+02,0.000000e+00
25%,-34.919952,-58.746835,2.000000,1.000000,1.000000,50.000000,4.500000e+01,4.200000e+04
50%,-34.611445,-58.448442,3.000000,2.000000,1.000000,95.000000,7.600000e+01,9.800000e+04
75%,-34.456179,-58.172063,4.000000,3.000000,2.000000,255.000000,1.640000e+02,2.100000e+05
max,85.051129,-1.981231,40.000000,900.000000,20.000000,200000.000000,2.147484e+09,1.000000e+10